.contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    position:fixed;
    bottom: 0px;
    background-color: #7C99AC;
    width: 61%;
    margin: auto;
}

.phoneicon, .emailicon{
    border-radius: 10px;
    width: 25px;
    height: 25px;
    padding: 0.3rem;
}